input[type='radio']{
    display: none;
}

img{
    width: 100%;
}

.activity-selecter label>div{
    width: 60px;
}

.addActivity{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    text-align: center;
}

.activity-selecter{
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem ;
}

.activity-selecter label:hover img {
    border:2px solid gray;
    border-radius: 50%;
}
